<!-- <br><br><br><br>
<ejs-grid [dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings">
  <e-columns>
    <e-column field='prodId' headerText='Order ID'></e-column>
    <e-column field='productName' headerText='Product Name'></e-column>
    <e-column field='price' headerText='Price'></e-column>
  </e-columns>
</ejs-grid> -->
<router-outlet>
  <ul>
    <li><a routerLink="signup">Sign up</a></li>
    <li><a routerLink="login">Login</a></li>
  </ul>
  <!-- <app-signup></app-signup> -->
</router-outlet>