<br><br><br><br>

<h2>Table</h2>
<ejs-grid [dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings">
  <e-columns>
    <e-column field='prodId' headerText='Order ID'></e-column>
    <e-column field='productName' headerText='Product Name'></e-column>
    <e-column field='price' headerText='Price'></e-column>
  </e-columns>
</ejs-grid>

<br>
<h2>Dropdown List</h2>
<div class="control-section">
  <ejs-dropdownlist [dataSource]="data2" placeholder="select a Game" popupHeight='200px' popupWidth='250px'>
  </ejs-dropdownlist>
</div>

<br>
<h2>Check Box</h2>
<div class="control-section">
  <ejs-checkbox label="Checked" [checked]="true"></ejs-checkbox> &nbsp;
  <ejs-checkbox label="Default"></ejs-checkbox>
</div>

<br><br>

<!--  -->
<router-outlet>
  <ul style="display: flex; justify-content: space-evenly;">
    <li><a routerLink="signup">Sign up</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="admin">Admin</a></li>
  </ul>
</router-outlet>